.user-info-card {
    width: 30vw;
    height: 75vh;
    box-shadow: 20px -16px #006a49;

    .mat-card-title {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10vh;
    }
    
    .mat-card-subtitle {
        height: 5vh;
    }

    .mat-card-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 40px 0;
        width: calc(100% - 3vw);
        height: calc(100% - 20vh);
    }

    .mat-card-content-main {
        display: flex;
        width: inherit;
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
        height: 55vh;
    }
}

@media (max-width: 1400px) {
    .user-info-card {
        min-width: 60vw;
        min-height: 30vh;
        box-shadow: 20px -16px teal;
    }
}