<mat-card class="user-info-card ">
    <mat-card-title>User Info Card</mat-card-title>
    <mat-card-content>
        <div style="width: inherit; height: auto; overflow-wrap: break-word;">
            <h2>Linked NFID Wallet Address:</h2> {{ nfidWalletAddress }}
        </div>
        
        <div style="width: inherit; height: auto; overflow-wrap: break-word;">
            <h2>User NFID:</h2> {{ userNfid }}
        </div>

        <!-- <div style="width: inherit; height: auto; overflow-wrap: break-word;">
            <h3>Address Wallet Linked to NFID:</h3> {{ userNfid }}
        </div> -->
    </mat-card-content>
</mat-card>
