<!-- Toolbar -->
<mat-toolbar color="primary">
    <div class="toolbar">
        <div>
            <img src="../../../assets/images/Atlantic_Logo.png" alt="Italian Trulli" width="120px" style="padding-top: 1.5vh;">
            <!-- <h2>
                Atlantic ID
            </h2> -->
        </div>

        <!-- Navigation -->
        <div *ngIf="!(isHandset$ | async)" class="mat-nav-horizontal">

            <div (mouseover)="showNavRow=true" (mouseover)="setHover('learn')">
                <div id="learn-b" class="nav-item">
                    <div (mouseout)="showNavRow=false">Learn</div>
                </div>
            </div>

            <div (mouseover)="showNavRow=true" (mouseover)="setHover('developers')">
                <div class="nav-item">
                    <div (mouseout)="showNavRow=false">Developers</div>
                </div>
            </div>

            <div (mouseover)="showNavRow=true" (mouseover)="setHover('company')">
                <div class="nav-item">
                    <div (mouseout)="showNavRow=false">Company</div>
                </div>
            </div>

            <app-navhub [showNav]="sendHover" *ngIf="showNavRow" (turnOffEvent)="turnOff($event)"></app-navhub>

            <div *ngIf="(isHandset$ | async)">
                <mat-list-item>
                    <button (click)="onToggleSidenav($event)">
                        <fa-icon [icon]="faBars" size="lg" (click)="onToggleSidenav($event)"></fa-icon>
                    </button>
                </mat-list-item>
            </div>
        </div>

        <!-- LOGIN -->
        <div *ngIf="!(isHandset$ | async)">
            <button mat-stroked-button *ngIf="!isLoggedIn" (click)="coinbaseLogin()">
                LogIn / Signup
            </button>

            <button mat-stroked-button *ngIf="isLoggedIn">
                Logout
            </button>
        </div>

        
        <!-- <div class="dropdown-content">
            <ul>
                <li>Item 1</li>
                <li>Item 1</li>
                <li>Item 1</li>
                <li>Item 1</li>
            </ul>
        </div> -->
    </div>

    <!-- <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div> -->
  </mat-toolbar>