<!-- Toolbar -->
<mat-toolbar color="primary">
    <div class="toolbar">
        <div>
            <img src="../../../assets/images/Atlantic_Logo.png" alt="Italian Trulli" width="120px">
        </div>

        <!-- Navigation -->
        <div *ngIf="!(isHandset$ | async)" class="mat-nav-horizontal">
            <div class="nav">
                <div class="nav-item" (mouseover)="setHover('learn')" (mouseover)="showNavRow=true">Learn</div>

                <div class="nav-item" (mouseover)="setHover('developers')" (mouseover)="showNavRow=true">Developers</div>

                <div class="nav-item" (mouseover)="setHover('company')" (mouseover)="showNavRow=true">Company</div>

                <app-navhub [showNav]="sendHover" *ngIf="showNavRow" (mouseover)="showNavRow=true" (mouseout)="showNavRow=false"></app-navhub>
            </div>

            <div *ngIf="(isHandset$ | async)">
                <mat-list-item>
                    <button (click)="onToggleSidenav($event)">
                        <fa-icon [icon]="faBars" size="lg" (click)="onToggleSidenav($event)"></fa-icon>
                    </button>
                </mat-list-item>
            </div>
        </div>

        <!-- LOGIN -->
        <div *ngIf="!(isHandset$ | async)">
            <button mat-stroked-button *ngIf="!isLoggedIn" (click)="coinbaseLogin()">
                LogIn / Signup
            </button>

            <div class="logged-in-paths">
                <button mat-stroked-button *ngIf="isLoggedIn">
                    Logout
                </button>
    
                <div *ngIf="isLoggedIn">
                    <a mat-flat-button color="accent" routerLink="/dashboard" class="nav">Dashboard</a>
                </div>
            </div>

            
        </div>

        
        <!-- <div class="dropdown-content">
            <ul>
                <li>Item 1</li>
                <li>Item 1</li>
                <li>Item 1</li>
                <li>Item 1</li>
            </ul>
        </div> -->
    </div>
  </mat-toolbar>